@charset "UTF-8";
/*
 *  色の定義
 *
  */
/*全体背景*/
/*パーツ背景*/
/*文字色 - 通常*/
/*
 *  画像の丸型切り抜き
 *
  */
/*全体共通*/
/* line 29, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 32, ../sass/style.scss */
body {
  background-color: rgba(246, 248, 248, 0.93) !important;
}

/* line 38, ../sass/style.scss */
#curtains nav ul {
  list-style-type: none;
}

/* スマホに適用するスタイルを書く */
@media screen and (max-width: 575px) {
  /* line 46, ../sass/style.scss */
  .container {
    max-width: 100%;
    width: 100%;
  }
  /* line 50, ../sass/style.scss */
  .container .main {
    margin-bottom: 8em;
  }
  /* line 53, ../sass/style.scss */
  .container .main img {
    max-width: 100%;
    height: auto;
  }
  /* line 61, ../sass/style.scss */
  .container .contents #self_intro {
    margin-bottom: 8em;
  }
  /* line 64, ../sass/style.scss */
  .container .contents #self_intro .circle {
    text-align: center;
  }
  /* line 67, ../sass/style.scss */
  .container .contents #self_intro .circle:first-child {
    margin-bottom: 4em;
  }
  /* line 71, ../sass/style.scss */
  .container .contents #self_intro .circle img {
    border-radius: 50%;
    max-width: 100%;
    width: 30%;
    height: auto;
  }
  /* line 79, ../sass/style.scss */
  .container #story_of_meow {
    margin-bottom: 4em;
    text-align: center;
  }
  /* line 83, ../sass/style.scss */
  .container #story_of_meow h1 {
    font-size: 2.8rem;
  }
  /* line 86, ../sass/style.scss */
  .container #story_of_meow p {
    font-size: 10px;
    text-align: center;
  }
  /* line 92, ../sass/style.scss */
  .container #curtains h5 {
    text-align: center;
    text-decoration: underline;
  }
  /* line 97, ../sass/style.scss */
  .container #curtains nav ul {
    list-style-type: none;
    padding: 20px;
  }
  /* line 101, ../sass/style.scss */
  .container #curtains nav ul li {
    margin-bottom: 1em;
    border: 1px solid #fff;
    padding: 14px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    display: flex;
  }
  /* line 109, ../sass/style.scss */
  .container #curtains nav ul li img {
    max-width: 18%;
    height: auto;
    margin: 0 10px;
  }
  /* line 116, ../sass/style.scss */
  .container #curtains nav ul h2 {
    margin: 8px 10px;
    font-size: 26px;
  }
  /* line 124, ../sass/style.scss */
  .container #toBeContinued {
    margin-bottom: 2em;
    padding: 36px;
  }
  /* line 129, ../sass/style.scss */
  .container #endCall {
    text-align: center;
  }
  /* line 132, ../sass/style.scss */
  .container #endCall small {
    margin: 30px 0 20px 0;
    display: block;
  }

  /* // End of SP */
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  /* タブレットに適用したいスタイル */
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  /* 通常のデスクトップに適用したいスタイル */
}
@media screen and (min-width: 1281px) {
  /* 横幅の広いデスクトップに適用したいスタイル */
}
